<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Cows Health Check</title>
    <h1 class="title">Everything is working with MyCows API !</h1>
    <p> <img src="static/vaquinha.gif" alt="vaquinha" class="cow"></p>
    <h5 class="note"> PS: You shouldn't be here </h5>
    <style>
        .title {
            text-align: center;
        }
        .cow {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 25%;
        }
        .note {
            text-align: center;
        }
    </style>
</head>
<body>

</body>
</html>